@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import "bootstrap/bootstrap.less";

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e600";
}
.icon-users:before {
	content: "\e601";
}
.icon-user-add:before {
	content: "\e602";
}
.icon-light-bulb:before {
	content: "\e603";
}
.icon-statistics:before {
	content: "\e604";
}
.icon-cart:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e606";
}
.icon-minus:before {
	content: "\e607";
}
.icon-cross:before {
	content: "\e608";
}
.icon-checkmark:before {
	content: "\e609";
}
.icon-cross2:before {
	content: "\e60a";
}
.icon-cw:before {
	content: "\e60b";
}

@stiletto: #1a2b2b;
@stiletto-dark: #0b1212;
@stiletto-light: #6da1a1;
@stiletto-sky: #D8E6E8;
@planks: #332222;
@missionary: #4d1a1a;
@brick-red: #661111;
@jarrah: #800909;
@jarrah-bright: #de1010; /* This really pops against stiletto */
@jarrah-gold: #d7de10;
@jarrah-blue: #10C3DE;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height: 100%;
	line-height: 1;
	background-color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}
html {
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main {
	position: relative;
	height: 100%;

	#content-wrapper {
		box-sizing: border-box;
		padding: 6em 2em 0 2em;
		width: 100%;
		#content {
			text-align: left;
			.sliders {
				float: left;
				width:38%;		
				.multiSlider {
					width: 100%;
					height: 100px;
					position: relative;

					hr, .thumbs {
						position: absolute;
						width: 100%;
						top: 1em;
						margin: 0;
					}
				
					.sliderThumb {
						position: absolute;
						transform:rotate(90deg);
						-ms-transform:rotate(90deg); /* IE 9 */
						-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */

						-webkit-border-top-right-radius: 5px;
						-webkit-border-bottom-right-radius: 5px;
						-moz-border-radius-topright: 5px;
						-moz-border-radius-bottomright: 5px;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;

						border: 2px solid white;
						cursor: pointer;
						width: 65px;
						padding-left: 0.25em;
						height: 1.1em;
						top: 24px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
				}
			}
			.chart {
				float: left;
				width: 62%;
			}
		}
	}

	#navMenu {
		text-align: center;
		padding-top: 0.5em;
		font-size: 20px;
		background-color: @stiletto-dark;
		color: @stiletto-sky;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 3em;
		width: 100%;
		box-sizing: border-box;

		ul {
			li {
				display: inline-block;
				overflow: hidden;
				cursor: pointer;
				height: 2em;
				line-height: 2em;
				border-bottom: 1px solid @stiletto;
				padding: 0 10px;
			}
			li:hover {
				background-color: @stiletto;
				color: @jarrah-bright;
				border-color: @jarrah;
			}
			li.selected {
				color: @jarrah-blue;
			}
		}
	}
}

.container {
	min-height: 200px;
	min-width: 200px;

	&.odd { background-color: @stiletto-sky; }

	.draggable {
		background-color: white;
	}

	.drag-handle {
		color: @jarrah-bright;
		background-color: @stiletto;
	}

	.tilt {
		-webkit-box-shadow: 5px 5px 5px 0px rgba(26,43,43,1);
		-moz-box-shadow: 5px 5px 5px 0px rgba(26,43,43,1);
		box-shadow: 5px 5px 5px 0px rgba(26,43,43,1);

		&.left {
			transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-webkit-transform: rotate(-3deg);
		}

		&.right {
			transform: rotate(3deg);
			-moz-transform: rotate(3deg);
			-webkit-transform: rotate(3deg);
		}
	}
}
