div.sliders
  // ko foreach: vectors

  // ko template: { data: { items: $parent.customers, vectorName: name }, name: '/views/slider' }
  // /ko

  // /ko

  button.btn(data-bind="click: save").
    Save

  button.btn(data-bind="click: addCustomer").
    + Customer

  button.btn(data-bind="click: addVector").
    + Vector

div.chart
  div.ct-perfect-fourth(data-bind="pieChart: customers")