doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="/styles/main.css")
    link(rel="stylesheet", type="text/css", href="/styles/chartist.min.css")
    script(src="/scripts/require.js", data-main="/scripts/bootstrap").

  body
    div.main
      div#navMenu
        ul#menu(data-bind="foreach: items")
          li(data-bind="click: function() {$parent.select($data); }, css: {selected: selected}")
            span.icon(data-bind="css: icon")
      div#content-wrapper
        div#content
