doctype html
html
	head
		title Login to Demand Perfection
	body
		form(action="/auth/login", method='POST')
			input(type='text', name='username', placeholder='Username')
			input(type='password', name='password', placeholder='Password')
			input(type='submit', value="Submit")
